<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fancy Todo</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">


</head>
<body>
  
  <div id="index">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{title}}</a>
      </div>

      <ul class="nav navbar-nav navbar-right navbar-color">
          <li><a href="login.html">Login</a></li>
          <li><a v-on:click="onLogOut" href="index.html">Logout</a></li>
          <li><a href="http://localhost:4000/auth/facebook">Login With FB</a></li>
      </ul>

    </div><!-- /.container-fluid -->
  </nav>
  
    <!-- <a href="/auth/facebook">Login With Facebook</a> -->
    <!-- <button v-on:click="facebookLogin" class="btn btn-primary">Login With facebook</button> -->
    <!-- <a v-bind:href="title">Login with facebook</a> -->
      <!-- <a v-bind:href="logOutFbLink">Logout From Facebook</a> -->
    <!-- <button v-on:click="onFbLogOut">Logout from Facebook</button> -->
    
    <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
      <form>
        <h3>Add new Todo</h3>
        <label for="title">Title:</label>
        <input v-model="title" name="title" type="text">
        <label for="title">Content:</label>
        <input v-model="content" name="content" type="text">
        <button v-on:click="addNewTodo" class="btn btn-default">Submit</button>
      </form>
        
      </div>
      <template v-for="todo in todos">
        <div v-on:click="onClick" class="col-lg-4 col-md-4 col-sm-4 col-xs-6 todos" v-bind:class="{ completed: todo.status, uncompleted: !todo.status }">
          <h1>{{todo.title}}</h1>
          <p>{{todo.content}}</p>
          <p>Dibikin: {{todo.createdAt}}</p>
          <!-- <a href="edit-todo.html">Edit this todo</a> -->
          <!-- <form class="text-center">
            <select class="form-control" name="idTodo">
            <option v-bind:value="todo.id">Completed</option>
            <option>Uncomplete</option>
            </select>
            <button v-on:click="completeTodo" class="btn-xs btn-default">Submit</button>
          </form> -->
        </div>
      </template>
        
      </div>
    </div>

  </div>
  

  
  <script>


    var app = new Vue({
      el: '#index',
      data: {
        title: 'FancyTodo',
        logOutFbLink: '',
        fbToken: '',
        todos: [],
        title: '',
        content: '',
        isCompleted: false,
        isNotYet: true,
        idSelected: ''
      },
      methods: {
        getAllTodos: function() {
          let self = this;
          axios.get('http://localhost:4000/api/todos/', {headers: {token: localStorage.getItem('token')}})
          .then(res => {
            console.log(res); // array isinya object
            self.todos = res.data.todo;
            // console.log(self.todos)
          })
        },
        onLogOut: function() {
          localStorage.clear();
          window.location.href = 'index.html';
        },
        getFbLogoutLink: function() {
          let self = this;
          axios.get('http://localhost:4000/auth/facebook/latestFbUser')
          .then(res => {
            if(res.data.success = true) {
              self.logOutFbLink = `https://graph.facebook.com/${res.data.facebook.id}/permissions?access_token=${res.data.facebook.token}`;
              self.fbToken = res.data.facebook.token;
              // console.log(self.logOutFbLink)
            } else {
              // console.log(res.data)
            }
          })
        },
        onFbLogOut: function() {
          let self = this;
          axios.delete(self.logOutFbLink, {params: { access_token: self.fbToken }})
            .then(res => {
              window.location.href = 'index.html'
            })
        },
        onCompleted: function() {
          let self = this;
          this.todos.forEach(function(val) {
            if(!val.status) {
              val.status = true;
              self.isCompleted = true;
              self.isNotYet = false;
            } else if (val.status) {
              val.status = false;
              self.isCompleted = false;
              self.isNotYet = true;
            }
          })
        },
        completeTodo: function() {
          let self = this;
          console.log(self.selected)
          // axios.put(`http://localhost:4000/api/todos/complete/`)
        },
        onClick: function (e) {
          let clickedElement = e.target;
          // let fontAwesome = document.createElement("i"); 
          if(clickedElement.classList.contains('completed')) {
              clickedElement.classList.remove('completed');
              clickedElement.classList.add('uncompleted');
              // fontAwesome.classList.add('fa', 'fa-times-circle-o')
              // clickedElement.appendChild(fontAwesome)
          } else if(clickedElement.classList.contains('uncompleted')) {
              clickedElement.classList.remove('uncompleted');
              clickedElement.classList.add('completed');
              // fontAwesome.classList.add('fa', 'fa-check-circle-o')
              // clickedElement.appendChild(fontAwesome)
          }
            
            
          
          console.log(clickedElement.classList.contains('completed'));
          // testElement.classList.contains(className)
        },
        addNewTodo: function() {
          let self = this;
          axios.post(`http://localhost:4000/api/todos/create`, {
            title: self.title,
            content: self.content,
            
          }, {headers: {token: localStorage.getItem('token')}})
          .then(res => {
            console.log(res)
          })
        }
      },
      created: function() {
        this.getAllTodos();
        this.getFbLogoutLink();
      },
      computed: {
        gettodos() {
          return this.todos;
        }
      }
    })

  </script>

</body>
</html>