<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fancy Todo</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">


</head>
<body>
  
  <div id="index">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{siteTitle}}</a>
      </div>

      <ul class="nav navbar-nav navbar-right navbar-color">
          <li><a href="login.html">Login</a></li>
          <li><a href="signup.html">Sign Up</a></li>
          <li><a v-on:click="onLogOut" href="index.html">Logout</a></li>
          <!-- <li><a href="http://localhost:4000/auth/facebook">Login With FB</a></li> -->
      </ul>

    </div><!-- /.container-fluid -->
  </nav>
  
    <!-- <a href="/auth/facebook">Login With Facebook</a> -->
    <!-- <button v-on:click="facebookLogin" class="btn btn-primary">Login With facebook</button> -->
    <!-- <a v-bind:href="title">Login with facebook</a> -->
      <!-- <a v-bind:href="logOutFbLink">Logout From Facebook</a> -->
    <!-- <button v-on:click="onFbLogOut">Logout from Facebook</button> -->
    
    <div class="container">
      <div class="row">
      <div class="col-lg-12 text-center">
      <!-- <form> -->
        <h3>Add new Todo</h3>
        <label for="title">Title:</label>
        <input v-model="title" name="title" type="text">
        <label for="title">Content:</label>
        <input v-model="content" name="content" type="text">
        <button v-on:click="addNewTodo" class="btn btn-default">Submit</button>
      <!-- </form> -->
        
      </div>
      <div class="col-lg-12 text-center">
        <div>
          <label for="filterTitle">Filter:</label>
          <input name="filterTitle" type="text" class="form-control" v-model="filterTitle" placeholder="ketik judul atau status disini..." />
        </div>
        <!-- <div class="col-lg-3">
          <label for="filterStatus">Filter by status:</label>
          <input type="filterStatus" type="text" class="form-control" v-model="filterStatus" placeholder="ketik status disini...">
        </div> -->
        
      </div>
      <template v-for="(todo, index) in filteredTitle">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 todos text-center">
          <h1>{{todo.title}}</h1>
          <p>{{todo.content}}</p>
          <p>Dibikin: {{todo.createdAt}}</p>
          <p class="bg-info">Status: {{todo.message}}</p>
          <button @click="completeTodo(todo.id, index)" class="btn-sm btn-primary">complete</button>
          <button @click="uncompleteTodo(todo.id, index)" class="btn-sm btn-warning">uncomplete</button>
          <button @click="deleteTodo(todo.id, index)" class="btn-sm btn-danger">delete</button>
        </div>
      </template>
        
      </div>
    </div>

  </div>
  

  
  <script>

  

    var app = new Vue({
      el: '#index',
      data: {
        siteTitle: 'FancyTodo',
        logOutFbLink: '',
        fbToken: '',
        todos: [],
        title: '',
        content: '',
        isCompleted: false,
        filterTitle: '',
        filterStatus: '',
      },
      methods: {
        getAllTodos: function() {
          let self = this;
          axios.get('http://localhost:4000/api/todos/', {headers: {token: localStorage.getItem('token')}})
          .then(res => {
            self.todos = res.data.todo;
          })
        },
        onLogOut: function() {
          localStorage.clear();
          // window.location.href = 'index.html';
        },
        // getFbLogoutLink: function() {
        //   let self = this;
        //   axios.get('http://localhost:4000/auth/facebook/latestFbUser')
        //   .then(res => {
        //     if(res.data.success = true) {
        //       self.logOutFbLink = `https://graph.facebook.com/${res.data.facebook.id}/permissions?access_token=${res.data.facebook.token}`;
        //       self.fbToken = res.data.facebook.token;
        //       // console.log(self.logOutFbLink)
        //     } else {
        //       // console.log(res.data)
        //     }
        //   })
        // },
        // onFbLogOut: function() {
        //   let self = this;
        //   axios.delete(self.logOutFbLink, {params: { access_token: self.fbToken }})
        //     .then(res => {
        //       window.location.href = 'index.html'
        //     })
        // },
        // onCompleted: function() {
        //   let self = this;
        //   this.todos.forEach(function(val) {
        //     if(!val.status) {
        //       val.status = true;
        //       self.isCompleted = true;
        //       self.isNotYet = false;
        //     } else if (val.status) {
        //       val.status = false;
        //       self.isCompleted = false;
        //       self.isNotYet = true;
        //     }
        //   })
        // },
        completeTodo: function(id, index) {
          let self = this;
          // console.log(id)
          axios.put(`http://localhost:4000/api/todos/complete/${id}`, {}, {headers: {token: localStorage.getItem('token')}})
          .then(res => {
            console.log(res)
          })
          self.todos[index].status = true;
          self.todos[index].message = 'beres';
        },
        uncompleteTodo: function(id, index) {
          let self = this;
          axios.put(`http://localhost:4000/api/todos/uncomplete/${id}`, {}, {headers: {token: localStorage.getItem('token')}})
          .then(res => {
            console.log(res)
          })
          self.todos[index].status = false;
          self.todos[index].message = 'pending';
        },
        deleteTodo: function(id, index) {
          let self = this;
          axios.delete(`http://localhost:4000/api/todos/delete/${id}`, {headers: {token: localStorage.getItem('token')}})
          .then(res => {
            console.log(res);
          })
          self.todos.splice(index, 1);
        },
        // onClick: function (e) {
        //   let clickedElement = e.target;
        //   if(clickedElement.classList.contains('completed')) {
        //       clickedElement.classList.remove('completed');
        //       clickedElement.classList.add('uncompleted');
        //   } else if(clickedElement.classList.contains('uncompleted')) {
        //       clickedElement.classList.remove('uncompleted');
        //       clickedElement.classList.add('completed');
        //   }
        //   console.log(clickedElement.classList.contains('completed'));
        //   // testElement.classList.contains(className)
        // },
        addNewTodo: function() {
          let self = this;
          axios.post(`http://localhost:4000/api/todos/create`, {
            title: self.title,
            content: self.content,
            
          }, {headers: {token: localStorage.getItem('token')}})
          .then(res => {
            self.todos.push(res.data.todo)
            self.getAllTodos();
            // alert(`${res.data.todo.title} berhasil kamu tambahkan ke daftar todo`);
            // window.location.href = 'index.html';
          }).catch(err => {
            // alert('kamu harus login dulu');
            console.log(err)
          })
          
        }
      },
      created: function() {
        this.getAllTodos();
        // this.getFbLogoutLink();
      },
      computed: {
        gettodos() {
          return this.todos;
        },
        filteredTitle: function() {
          let self = this;
          return self.todos.filter(function(todo) {
            return todo.title.indexOf(self.filterTitle) !== -1 || todo.message.indexOf(self.filterTitle) !== -1;
          })
        },
        filteredStatus: function() {
          let self = this;
          return self.todos.filter(function(todo) {
            return todo.message.indexOf(self.filterStatus) !== -1;
          })
        }
      }
    })

  </script>

</body>
</html>